[Oo]bj
[Bb]in
packages
PublishProfiles
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.cache
* Thumbs.db

# Other useful stuff
*.bak
*.cache
*.log
*.swp
*.user
_compareTemp
_notes
aspnet_client
httpd.parse.errors

# Office Temp Files
~$*

# If you have a deploy folder
deploy
deploy/*
