@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using com.Hzexe.Air.API.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "空气数据API文档";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>产品介绍</h2>
            <p>
                本帮助文档向你提供如何使用本API来获取空气数据<br />
                API的路径就是相对于根目录，比如API：api/basic/getAllProvinces<br />
                请求的路径是https://api.air.hzexe.com/api/basic/getAllProvinces?xxx=xxxxx的样子<br />
                为确保token以及数据传输的安全，请使用<span style="color:red">https</span>安全方式请求API
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
