@using System.Collections.Generic
@using System.Collections.ObjectModel
@using System.Web.Http.Description
@using System.Threading
@using com.Hzexe.Air.API.Areas.HelpPage.ModelDescriptions
@model IList<ParameterDescription>

@{
    
    var tModel = new List<ParameterDescription>(Model);
    
    
   var a= new ParameterDescription(){Name="token",Documentation="您的token" };
   //a.Annotations.Add(new ParameterAnnotation() { Documentation = "System" });
   a.Annotations.Add(new ParameterAnnotation() { Documentation = "必须包含" });
   a.TypeDescription = new SimpleTypeModelDescription() { Documentation = typeof(string).Name, ModelType = typeof(string), Name = "token" };

   var b= new ParameterDescription() { Name = "callback", Documentation = "JSONP回调函数名" };
   //b.Annotations.Add(new ParameterAnnotation() { Documentation = "System" });
   b.Annotations.Add(new ParameterAnnotation() { Documentation = "可选参数" });
   b.TypeDescription = new SimpleTypeModelDescription() { Documentation = typeof(string).Name, ModelType = typeof(string), Name = "callback" };

   



   tModel.Insert(0, a);
   tModel.Insert(1, b);

}




@if (tModel.Count > 0)
{
    <table class="help-page-table">
        <thead>
            <tr><th>名称</th><th>描述</th><th>类型</th><th>其它说明</th></tr>
        </thead>
        <tbody>
            @foreach (ParameterDescription parameter in tModel)
            {
                ModelDescription modelDescription = parameter.TypeDescription;
                <tr>
                    <td class="parameter-name">@parameter.Name</td>
                    <td class="parameter-documentation">
                        <p>@parameter.Documentation</p>
                    </td>
                    <td class="parameter-type">
                        @Html.DisplayFor(m => modelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = modelDescription })
                    </td>
                    <td class="parameter-annotations">
                        @if (parameter.Annotations.Count > 0)
                        {
                            foreach (var annotation in parameter.Annotations)
                            {
                                <p>@annotation.Documentation</p>
                            }
                        }
                        else
                        {
                            <p>无.</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>无.</p>
}

