<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()

    <p></p>
    <footer>
        <a href="https://air.hzexe.com">项目首页</a>
    </footer>
</body>
</html>